<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Grumblr Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="layout_css/homepage.css">


	<link rel="shortcut icon" href="img/favicon.png">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="homepage.html">Grumblr</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search Grumblr">
							</div> 
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="homepage.html">Homepage</a>
							</li>
							<li>
								<a href="profile.html">My Profile</a>
							</li>
							<li>
								<a href="registration.html"><i class="glyphicon glyphicon glyphicon-off"></i></a>
							</li>
						</ul>

					</div>

				</nav>
				<div class="row clearfix">
					<div class="col-md-9 column">
						<div class="well well-lg">
							<div class="well well-lg">
								<div class="row clearfix">
									<div class="col-md-3 column">
										<a href="ign_homepage.html"><img alt="140x140" src="images/ign_header.jpg" class="img-thumbnail"></a>
										<p class="lead">IGN</p>
									</div>
									<div class="col-md-9 column">
										<button type="button" class="btn btn-primary pull-right">Follow</button>										<h1 class="pull-left text-muted">
										<a href="http://www.ign.com"> IGN.com </a>
										<p class="lead">Entertainment Website</p>
									</h1> 

								</div>
							</div>
						</div>
						<div class="well well-lg">
							<div class="row clearfix">
								<div class="col-md-4 column">
									<a href="ign_homepage.html"><img alt="140x140" src="images/ign_header.jpg" class="img-thumbnail"></a>
									<p class="lead">IGN</p> 
								</div>

								<div class="col-md-8 column">
									<p> Here are 5 things you need to know to read Marvel's The Death of Wolverine.</p>
									<a href="http://www.ign.com/articles/2014/09/03/5-things-you-need-to-know-to-read-the-death-of-wolverine?utm_campaign=fbposts&utm_source=facebook"><img src="images/Wolverine.jpg" class="img-responsive img-rounded"></a><br>
									<div class="btn-group">
										<button class="btn btn-default" type="button">Like</button> <button class="btn btn-default" type="button">Unlike</button> <button class="btn btn-default active" type="button"> Comment</button> <button class="btn btn-default" type="button"> Block User</button>
									</div> <br>
									<div class="row clearfix">
										<div class="col-md-12 column">
											<br>
											<textarea class="form-control" rows=7 placeholder="Write your comment here!"></textarea> 
											<button type="button" class="btn btn-primary">Comment</button>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="well well-lg">
							<div class="row clearfix">
								<div class="col-md-4 column">
									<a href="ign_homepage.html"><img alt="140x140" src="images/ign_header.jpg" class="img-thumbnail"></a>
									<p class="lead">IGN</p>
								</div>
								<div class="col-md-8 column">
									<p>
									What makes Project Cars different from the other racers coming out this year? <a href="http://trib.al/EmIBszN">http://trib.al/EmIBszN </a>
									</p>
									<img src="images/project_cars.jpg" class="img-responsive img-rounded"><br>
									<div class="btn-group">
										<button class="btn btn-default" type="button">Like</button> <button class="btn btn-default" type="button">Unlike</button> <button class="btn btn-default" type="button"> Comment</button> <button class="btn btn-default" type="button"> Block User</button>
									</div>
									<div class="well">
										<div class="row clearfix">
											<div class="col-md-4 column">
												<img alt="30x30" src="images/user2_header.jpeg" class="img-thumbnail">
												<p>IGNFollower_1</p>
											</div>
											<div class="col-md-8 column">
												<p>A big problem with racing games today is the over aggressive racers that would rather knock you out of their way as apposed to racing you. Is there a penalty system in place to discourage this type of game play ?</p>
											</div>
										</div>
									</div>
									<div class="well">
										<div class="row clearfix">
											<div class="col-md-4 column">
												<img alt="30x30" src="images/user1_header.jpeg" class="img-thumbnail">
												<p>IGNFollower_2</p>
											</div>
											<div class="col-md-8 column">
												<p>I always see these trailers with 1 car on 1 track, looks awesome... but have you actually tried to race AI? What a disaster. Still a lot more work to be done.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-0 column">
				</div>
				<div class="col-md-3 column">
					<div class="well well-lg">
						<h3>
							Recommendations
						</h3>
						<a href="https://twitter.com/Xbox"><img alt="140x140" src="images/xbox_header.png" class="img-thumbnail"> </a><p class="lead">Xbox</p><button type="button" class="btn btn-primary">Follow</button>
						<br><br>
						<a href="https://twitter.com/NASA"><img alt="140x140" src="images/nasa_header.jpg" class="img-thumbnail"> </a><p class="lead">NASA</p><button type="button" class="btn btn-primary">Follow</button>
						<br><br>
						<a href="https://twitter.com/BBCBreaking"><img alt="140x140" src="images/bbc_header.png" class="img-thumbnail"></a> <p class="lead">BBC Breaking News</p><button type="button" class="btn btn-primary">Follow</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
