<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Calculator</title>
</head>

<body>
	
	

	<form action="" method="post">

		<input type="text" class="field right"  name="num_displayed" readonly value={{result}} >
		<input type="hidden" name="hidden_value"  value={{hidden_value}} >
		<input type="hidden" name="hidden_operator"  value={{hidden_operator}} >
		<input type="hidden" name="hidden_lastbutton"  value={{hidden_lastbutton}} >
		<br>
		<input type="submit" value="7" 
		name="button_clicked" id="frm7_submit" />
		<input type="submit" value="8" 
		name="button_clicked" id="frm8_submit" />
		<input type="submit" value="9" 
		name="button_clicked" id="frm9_submit" />
		<input type="submit" value="*" 
		name="button_clicked" id="frm_multi_submit" />
		<br>
		<input type="submit" value="4" 
		name="button_clicked" id="frm4_submit" />
		<input type="submit" value="5" 
		name="button_clicked" id="frm5_submit" />
		<input type="submit" value="6" 
		name="button_clicked" id="frm6_submit" />
		<input type="submit" value="-" 
		name="button_clicked" id="frm_minus_submit" />
		<br>
		<input type="submit" value="1" 
		name="button_clicked" id="frm1_submit" />
		<input type="submit" value="2" 
		name="button_clicked" id="frm2_submit" />
		<input type="submit" value="3" 
		name="button_clicked" id="frm3_submit" />
		<input type="submit" value="+" 
		name="button_clicked" id="frm_plus_submit" />
		<br>
		<input type="submit" value="0" 
		name="button_clicked" id="frm0_submit" />
		<input type="submit" value="c" 
		name="button_clicked" id="frm_clear_submit" />
		<input type="submit" value="/" 
		name="button_clicked" id="frm_divide_submit" />
		<input type="submit" value="=" 
		name="button_clicked" id="frm_equal_submit" />

		{% csrf_token %}
	</form>


</body>
</html>
