<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Calculator</title>
</head>

<body>
	
	<input type="text" class="field right" readonly value={{button_clicked}}>

	<form action="" method="post">
		<input type="submit" value="7" 
		name="button_clicked" id="frm7_submit" />
		<input type="submit" value="8" 
		name="button_clicked" id="frm8_submit" />
		<input type="submit" value="9" 
		name="button_clicked" id="frm9_submit" />
		<input type="submit" value="*" 
		name="button_clicked" id="frm_multi_submit" />
		{% csrf_token %}
	</form>
	<form action="" method="post">
		<input type="submit" value="4" 
		name="button_clicked" id="frm4_submit" />
		<input type="submit" value="5" 
		name="button_clicked" id="frm5_submit" />
		<input type="submit" value="6" 
		name="button_clicked" id="frm6_submit" />
		<input type="submit" value="-" 
		name="button_clicked" id="frm_minus_submit" />
		{% csrf_token %}
	</form>
	<form action="" method="post">
		<input type="submit" value="1" 
		name="button_clicked" id="frm1_submit" />
		<input type="submit" value="2" 
		name="button_clicked" id="frm2_submit" />
		<input type="submit" value="3" 
		name="button_clicked" id="frm3_submit" />
		<input type="submit" value="+" 
		name="button_clicked" id="frm_plus_submit" />
		{% csrf_token %}
	</form>

	<form action="" method="post">
		<input type="submit" value="0" 
		name="button_clicked" id="frm0_submit" />
		<input type="submit" value="c" 
		name="button_clicked" id="frm_clear_submit" />
		<input type="submit" value="/" 
		name="button_clicked" id="frm_divide_submit" />
		<input type="submit" value="=" 
		name="button_clicked" id="frm_equal_submit" />
		{% csrf_token %}
	</form>

</body>
</html>
