<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Grumblr Homepage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/layout_css/homepage.css">
	<link rel="shortcut icon" href="static/img/favicon.png">

	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/grumblr/post.js"></script>
	<script type="text/javascript" src="static/js/node_modules/mustache/mustache.js"></script>
</head>

<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{% url 'homepage' %}">Grumblr</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-right" role="search" method="post" action="{% url 'search_post' %}">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search Grumblr" name="keyword">
							</div> 
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							{% csrf_token %}
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li class="active">
								<a href="{% url 'homepage' %}">Homepage</a>
							</li>
							<li>
								<a href="{% url 'user_stream' %}">Following</a>
							</li>
							<li>
								<a href="{% url 'profile' user.id%}">My Profile</a>
							</li>
							<li>
								<a href="{% url 'logout' %}"><i class="glyphicon glyphicon glyphicon-off"></i></a>
							</li>
						</ul>

					</div>

				</nav>
				<div class="row clearfix">
					<div class="col-md-9 column">
						<div class="well well-lg" id="content_part">
							<div class="well well-lg" id="write_post">
								<div class="row clearfix">
									<div class="col-md-4 column">
										{% if profile.id_picture %}
										<img src="picture/{{profile.id}}" alt="140x140" class="img-thumbnail">
										{% else %}
										<img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"><br>
										{% endif %}
										<p class="lead">{{ user.get_username }}</p>
									</div>
									<div class="col-md-8 column">
										<form  accept-charset="utf-8">
											<textarea class="form-control" rows=1 placeholder="Subject" name="subject" id="post_subject"></textarea><br>
											<textarea class="form-control" rows=7 placeholder="Write your post here!" name="post" id="post_text"></textarea> 
											<br>
											<button type="button" class="btn btn-primary" id="post_button">Post</button>
											{% csrf_token %}
										</form>
									</div>
								</div>
							</div>

							{% for content in post_contents %}
							<div class="well well-lg">
								<div class="row clearfix">
									<div class="col-md-4 column">
										<a a href="/user_stream_{{content.post.user.id}}">
											{% if profile.id_picture %}
											<img src="picture/{{content.profile.id}}" alt="140x140" class="img-thumbnail">
											{% else %}
											<img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"><br>
											{% endif %}
										</a>
										<p class="lead">{{ content.post.user.get_username }}</p> 
									</div>
									<div class="col-md-8 column">
										<h2 class="media-heading">{{content.post.subject}} <a href="{% url 'delete_post' content.post.id%}"><i class="glyphicon glyphicon glyphicon-remove"></i></a></h2>
										<p>{{content.post.date}}</p>
										{% if content.dislike %}
										<i class="glyphicon glyphicon-thumbs-down"></i><i>You Disliked This Post</i>
										{% endif %}
										<br>
										<pre class="media-body">{{content.post.text}}</pre>
										<br>
										<div class="btn-group">
											<a href="{% url 'delete_dislike' content.post.id%}"><button class="btn btn-default" type="button">Like</button></a> <a href="dislike/{{content.post.id}}"><button class="btn btn-default" type="button">Dislike</button></a> <button class="btn btn-default" data-toggle="collapse" data-target="#comment{{content.post.id}}" type="button"> Comment</button> 
										</div> <br>

										<div id="comment{{content.post.id}}" class="collapse in">
											<form action="/homepage/add_comment" method="post" accept-charset="utf-8">
												<br>
												<textarea class="form-control" rows=7 placeholder="Write your comment here!" name="comment"></textarea><br>
												<button type="submit" class="btn btn-primary">Comment</button>
												<input type="hidden" name="post_id"  value={{content.post.id}} >
												<input type="hidden" name="user_id"  value={{user.id}} >
												{% csrf_token %}
											</form>
											<br>
											<div class="well">
												{% for comment in content.comments %}
												<pre class="media-body">{{comment.user}}: {{comment.content}} {% if comment.user = user %} <a href="{% url 'delete_comment' comment.id %}"><i class="glyphicon glyphicon glyphicon-remove"></i></a>{% endif%}</pre>
												{% endfor %}
											</div>
										</div>
										<div class="row clearfix">
											<div class="col-md-12 column">
												<br>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}


						</div>

					</div>
					<div class="col-md-3 column">
						<div class="well well-lg">
							<p class="lead">Login As: {{user.get_username}}</p>
							<h3>
								Recommendations
							</h3>
							{% for recommend in recommends%}
							<a a href="{% url 'specified_user_stream' recommend.recommend_user.id%}">
								{% if recommend.recommend_profile.id_picture %}
								<img src="{% url 'picture' recommend.recommend_profile.id%}" alt="140x140" class="img-thumbnail">
								{% else %}
								<img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"><br>
								{% endif %}
							</a>
							<p class="lead">{{recommend.recommend_user}}</p><a href="{% url 'follow' recommend.recommend_user.id %}"><button type="button" class="btn btn-primary" }>Follow</button></a>
							<br><br>
							{% endfor %}
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
